$mat-turquoise: (
  50: #e0f7fa,
  100: #b2ebf2,
  200: #80deea,
  300: #4dd0e1,
  400: #26c6da,
  500: #00bcd4,  // The main shade you'd likely use
  600: #00acc1,
  700: #0097a7,
  800: #00838f,
  900: #006064,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);

$mat-goldenrod: (
  50: #fffae5,
  100: #fff5c2,
  200: #ffef9c,
  300: #ffe973,
  400: #ffe251,
  500: #ffdb2f,  // Main shade
  600: #ffd928,
  700: #ffd51e,
  800: #ffd114,
  900: #ffc800,
  A100: #ffffff,
  A200: #ffffe5,
  A400: #fffdbf,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000
  )
);

$mat-cherry: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,  // Main shade
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);
